# Database
DATABASE_URL=
DIRECT_URL="

# Auth
AUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"

# AI
GOOGLE_GENERATIVE_AI_API_KEY=

# Supabase Storage
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Mode
NODE_ENV="development"